@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  2%, 28% { transform: translate3d(0, 75%, 0); }
  30%, 63% { transform: translate3d(0, 57%, 0); }
  65%, 78% { transform: translate3d(0, 40%, 0); }
  80%, 98% { transform: translate3d(0, 21%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 100vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 19.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 20s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

div.text-top > div > span.processed  {
  color: #767676;
}